.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form{
  background-color: blue;
  width: 200px;
  height:200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}